* {
  box-sizing: border-box;
}
.app {
  max-width: 80rem;
  background-color: #181818;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 50rem) {
  .content {
    flex-direction: column;
  }
}
